@use '../../_css/queries.scss' as *;

$spacer-h: calc(var(--block-padding) / 2);

.code-wrapper {
  background-color: #000;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
}

.table-row {
  display: table-row;
}

.table-cell-line-number {
  display: table-cell;
  padding-right: 1rem; /* pr-4 */
  font-size: 0.875rem; /* text-sm */
  color: #6B7280; /* text-gray-500 */
  text-align: right; /* text-right */
  user-select: none; /* select-none */
}

.table-cell-line-content {
  display: table-cell;
}
